<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="FIVStandard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><userSettings>
        <FIVStandard.Properties.Settings>
            <setting name="DarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThemeAccent" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ZoomSensitivity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ImageStretched" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownsizeImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShownLanguage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GoForwardKey" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GoBackWardKey" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="PauseKey" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="DeleteKey" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="StretchImageKey" serializeAs="String">
                <value>49</value>
            </setting>
            <setting name="DownsizeImageKey" serializeAs="String">
                <value>47</value>
            </setting>
            <setting name="ExploreFileKey" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="CopyToClipboardKey" serializeAs="String">
                <value>46</value>
            </setting>
        </FIVStandard.Properties.Settings>
    </userSettings>
</configuration>
