<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="FIVStandard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup><userSettings>
        <FIVStandard.Properties.Settings>
            <setting name="DarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThemeAccent" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ZoomSensitivity" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="ImageStretched" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownsizeImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShownLanguage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GoForwardKey" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GoBackWardKey" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="PauseKey" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="DeleteKey" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="StretchImageKey" serializeAs="String">
                <value>49</value>
            </setting>
            <setting name="DownsizeImageKey" serializeAs="String">
                <value>47</value>
            </setting>
            <setting name="ExploreFileKey" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="CopyToClipboardKey" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="CutToClipboardKey" serializeAs="String">
                <value>67</value>
            </setting>
            <setting name="CheckUpdateAtStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThumbnailSize" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ThumbnailRes" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableThumbnailList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThumbnailListKey" serializeAs="String">
                <value>63</value>
            </setting>
            <setting name="AutoupdateToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThumbnailListColumns" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FilterJpg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterJpeg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterPng" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterGif" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterBmp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterIco" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterWebp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterWebm" serializeAs="String">
                <value>True</value>
            </setting>
        </FIVStandard.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Magick.NET.Core" publicKeyToken="2004825badfa91ec" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FFmpeg.AutoGen" publicKeyToken="9b7632533a381715" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
