<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net46" requireReinstallation="true" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net46" />
  <package id="Fody" version="6.1.1" targetFramework="net472" developmentDependency="true" />
  <package id="Gu.Localization" version="6.4.3.0" targetFramework="net46" />
  <package id="Gu.Localization.Analyzers" version="6.4.3.0" targetFramework="net46" developmentDependency="true" />
  <package id="Gu.Wpf.Localization" version="6.4.3.0" targetFramework="net46" />
  <package id="IronOcr" version="4.4.0" targetFramework="net472" />
  <package id="IronOcr.Languages.Arabic" version="4.4.4.11" targetFramework="net472" />
  <package id="IronOcr.Languages.ChineseSimplified" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.ChineseTraditional" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.Danish" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.Finnish" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.French" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.German" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.Hebrew" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.Italian" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.Japanese" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.Korean" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.Norwegian" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.Portuguese" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.Russian" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.Spanish" version="4.4.4.1" targetFramework="net472" />
  <package id="Magick.NET-Q8-AnyCPU" version="7.16.1" targetFramework="net472" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net46" requireReinstallation="true" />
  <package id="Ocr" version="4.4.4.11" targetFramework="net472" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net46" />
  <package id="ToastNotifications.Messages" version="2.5.1" targetFramework="net46" />
</packages>