<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net46" requireReinstallation="true" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net46" />
  <package id="Fody" version="6.1.1" targetFramework="net472" developmentDependency="true" />
  <package id="Gu.Localization" version="6.4.3.0" targetFramework="net46" />
  <package id="Gu.Localization.Analyzers" version="6.4.3.0" targetFramework="net46" developmentDependency="true" />
  <package id="Gu.Wpf.Localization" version="6.4.3.0" targetFramework="net46" />
  <package id="Magick.NET-Q8-AnyCPU" version="7.15.5" targetFramework="net472" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net46" requireReinstallation="true" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net46" />
  <package id="ToastNotifications.Messages" version="2.5.1" targetFramework="net46" />
</packages>