<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.4.0" targetFramework="net472" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net46" />
  <package id="FFME.Windows" version="4.2.330" targetFramework="net472" />
  <package id="FFmpeg.AutoGen" version="4.3.1" targetFramework="net472" />
  <package id="Fody" version="6.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Gu.Localization" version="6.5.0" targetFramework="net472" />
  <package id="Gu.Localization.Analyzers" version="6.5.0" targetFramework="net472" developmentDependency="true" />
  <package id="Gu.Wpf.Localization" version="6.5.0" targetFramework="net472" />
  <package id="Magick.NET.Core" version="5.1.0" targetFramework="net472" />
  <package id="Magick.NET.SystemWindowsMedia" version="2.0.3" targetFramework="net472" />
  <package id="Magick.NET-Q8-AnyCPU" version="7.22.1" targetFramework="net472" />
  <package id="MahApps.Metro" version="2.3.4" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.4" targetFramework="net472" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.4" targetFramework="net472" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net46" />
  <package id="ToastNotifications.Messages" version="2.5.1" targetFramework="net46" />
</packages>